<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<CodeBlocks_workspace_file>
    <Workspace title="{{ workspace_name }}">
    {% for project_file in project_files %}
        <Project filename="{{ project_file.name }}" />
    {% endfor %}
    </Workspace>
</CodeBlocks_workspace_file>
